{
  "extends": "segment/browser",

  "rules": {
    "global-strict": 0,
    "max-len": 0,
    "strict": 1
  },

  "globals": {
    "exports": true,
    "module": true,
    "require": true,
    // FIXME: Access off of `window` and remove this
    "segment_base_info": true
  }
}
